<h1><%= @user.name %></h1>
<% unless @upcomming_events.nil? %>
  <h3>Upcomming Events</h3>
  <% @upcomming_events.each do |event| %>
    <div>
      <%= link_to "#{event.title}", event %>
    </div>
  <% end %>
<% end %>
<% unless @previous_events.nil? %>
  <h3>Previous Events</h3>
  <% @previous_events.each do |event| %>
    <div>
      <%= link_to "#{event.title}", event %>
      <hr>
    </div>
  <% end %>
<% end %>
<% unless @user.attended_events.empty? %>
  <h2>Attending Events</h2>
  <ul>
    <% @user.attended_events.each do |event| %>
      <li><%= link_to "#{event.title}", event %></li>
    <% end %>
  </ul>
<% end %>
