<% unless @upcomming_events.nil? %>
  <h3>Upcomming Events</h3>
  <% @upcomming_events.each do |event| %>
    <div>
      <%= link_to "#{event.title}", event %>
    </div>
  <% end %>
<% end %>
<% unless @previous_events.nil? %>
  <h3>Previous Events</h3>
  <% @previous_events.each do |event| %>
    <div>
      <%= link_to "#{event.title}", event %>
      <hr>
    </div>
  <% end %>
<% end %>
